<header>
  <mat-toolbar class="navbar">
    <div>
      <a routerLink="/SignIn"><button mat-button color="primary">התחברות</button></a>
      <a routerLink="/Register"><button mat-button  color="primary">הרשמה</button></a>
    </div>
    <a href="#"><img src="assets/logo.png" class="logonav"></a>
  </mat-toolbar>
</header>

<main>

  <div class="form-group">
    <h1>שינוי סיסמה</h1>
    <form [formGroup]="resetPassForm" >
      <div>
        <div>
          <mat-form-field appearance="outline" color="warn">
            <mat-label>אימייל</mat-label>
            <input matInput type="email" required [email]="true" formControlName="email" >
            <mat-icon matSuffix> email</mat-icon>
            <mat-error *ngIf="email.touched && email.errors">
              <span *ngIf="email.hasError('required') || email.hasError('pattern')">
                צריך להקליד מייל אמיתי
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" color="warn">
          <mat-label>סיסמה</mat-label>
          <input matInput type="password" required [type]="hidePass ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.touched && password.errors">
            <span *ngIf="password.hasError('required') || password.hasError('pattern')">
              צריך להקליד סיסמה
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" color="warn">
          <mat-label>אימות סיסמה</mat-label>
          <input matInput type="password" required [type]="hideConf ? 'password' : 'text'" formControlName="confirmPassword">
          <button mat-icon-button matSuffix type="button" (click)="hideConf = !hideConf" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConf">
            <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors">
            <span *ngIf="confirmPassword.hasError('required')">
              צריך להקליד סיסמה
            </span>
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('matching')">
            סיסמאות שונות
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-wrapper">
        <button mat-flat-button color="primary" type="button" (click)="onSubmit()" [disabled]="!resetPassForm.valid" >שלח</button>
      </div>
    </form>
  </div>
</main>

<footer >
  <a routerLink="/ContactUs"><button mat-button color="primary">צרו קשר</button></a>
  <p>@HelpXPress 2022 by Dinah Cahen </p>
</footer>
