<header>
  <mat-toolbar class="navbar">
    <div>
      <a routerLink="/SignIn"><button mat-button color="primary">התחברות</button></a>
      <a routerLink="/Register"><button mat-button  color="primary">הרשמה</button></a>
    </div>
    <a href="#"><img src="assets/logo.png" class="logonav"></a>
  </mat-toolbar>
</header>
<main>
  <div class="form-group">
    <h3>שחזור סיסמה</h3>
    <form [formGroup]="insertForm">
    <div>
      <mat-form-field appearance="outline" color="warn">
      <mat-label> אימייל</mat-label>
        <input matInput type="email" id="eMail"  [email]="true" formControlName="email" >
        <mat-icon matSuffix> email</mat-icon>
        <mat-error *ngIf="email.touched && email.errors">
          <span *ngIf="email.hasError('required') || email.hasError('email') || email.hasError('pattern')">
            צריך להקליד מייל
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-wrapper">
      <button mat-flat-button color="primary" type="button" (click)="onSubmit()" [disabled]="!insertForm.valid" >שלח</button>
    </div>
    </form>
  </div>
</main>
<footer >
  <a routerLink="/ContactUs"><button mat-button color="primary">צרו קשר</button></a>
  <p>@HelpXPress 2022 by Dinah Cahen </p>
</footer>
