<header>
  <mat-toolbar class="navbar">
    <div>
      <button mat-button color="primary" [matMenuTriggerFor]="menu">{{getNameUser()}}
        <mat-icon style="color:coral">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/Dashboard">
          <mat-icon>domain</mat-icon>
          חזרה לדף ראשי
        </button>
        <button mat-menu-item routerLink="/UsersOffer">
          <mat-icon> transfer_within_a_station</mat-icon>
          לוח הצעות עזרה
        </button>
        <button mat-menu-item routerLink="/UsersNeed" >
          <mat-icon>search</mat-icon>
          לוח חיפושים עזרה
        </button>
        <button mat-menu-item (click)="onEditUser()">
          <mat-icon>build</mat-icon>
          עדכון פרטי משתמש
        </button>
        <button mat-menu-item routerLink="/ContactUs">
          <mat-icon>help</mat-icon>
          צור קשר
        </button>
        <button mat-menu-item routerLink="/LogOut">
          <mat-icon>exit_to_app</mat-icon>
          התנתקות
        </button>
      </mat-menu>
    </div>
    <a href="#"><img src="assets/logo.png" class="logonav"></a>
  </mat-toolbar>
</header>
<main>
  <div class="container">
    <a routerLink="/NeedHelp">
      <button class="btn">
        צריך עזרה
      </button>
    </a>
    <a routerLink="/OfferHelp">
      <button class="btn">
        יכול לעזור
      </button>
    </a>
  </div>
</main>
<footer >
  <a routerLink="/ContactUs"><button mat-button color="primary">צרו קשר</button></a>
  <p>@HelpXPress 2022 by Dinah Cahen </p>
</footer>
