*:not(mat-icon){
  font-family: 'David Libre', serif;
}

/*Header page*/
.navbar{
  justify-content: space-between;
  direction: ltr;
  margin-bottom: 50px;
}
a{
  padding-right: 1rem;
}
.logonav{
  width: 100px;
}

/*Content page*/
main{
  direction: rtl;
}

.text-info{
  text-align: center;
  direction: rtl;
  padding: 20px;
  padding-bottom: 15px;
}

.hour{
  direction: ltr ;
  align-items: center;
}

/*Babysitter form*/
.bbsit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: azure;
}
.form-bbsit{
  direction: rtl;
  text-align: center;
  border: solid rgb(204, 146, 59) 2px;
  background-color: azure;
}
.example-section{
  margin: 12px 0;
  direction: ltr;
  text-align: center;
}
/* overwrite the checkbox background*/
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(58, 12, 131) !important;
}

/* overwrite the ripple overlay on hover and click*/
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(58, 12, 131) !important;
}
/*Carpool form*/
.carpool{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: azure;
}
.form-carpool{
  direction: rtl;
  text-align: center;
  border: solid rgb(204, 146, 59) 2px;
  background-color: azure;
}

/*Teacher form*/
.teacher{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: azure;
}
.form-teacher{
  direction: rtl;
  text-align: center;
  border: solid rgb(204, 146, 59) 2px;
  background-color: azure;
}
/*Footer page*/
footer{
  position:relative;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  height: 50px;
  text-align: center;
}
