<header>
  <mat-toolbar class="navbar">
    <div>
      <a routerLink="/SignIn"><button mat-button color="primary">התחברות</button></a>
      <a routerLink="/Register"><button mat-button color="primary">הרשמה</button></a>
    </div>
    <a href="#"><img src="assets/logo.png" class="logonav"></a>
  </mat-toolbar>
</header>
<main>
  <div class="container">
    <p>תודה שהיית על האתר. מקווה שזה עזר לך. להתראות</p>
  </div>
</main>
<footer >
  <a routerLink="/ContactUs"><button mat-button color="primary">צרו קשר</button></a>
  <p>@HelpXPress 2022 by Dinah Cahen </p>
</footer>
